body {
    background-image: linear-gradient(red,yellow);
}
#test {
    background: url("../images/dbztitle.png");
    background-repeat: no-repeat;
    padding: 170px 0px 100px 0px;

}

.display-4 {
    padding: 50px;
}

#timer-button {
    width: 20%;
    margin: -200px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
    font-family: 'Bungee Shade', cursive;
    background-image: linear-gradient(orange,yellow);
}

.squad {
    background: url("../images/dbz.webp");
    position: sticky;
    background-repeat: no-repeat;
    margin: -320px 100px 0px 0px;
    float: right;
    width: 30%;
}

.trivia { 
    font-family: 'Bungee Shade', cursive;
    color: yellow;
    font-size: 100px;
    padding: 30px;
    margin: -130px 0px -100px 0px;
}

.main-box {
    color: black;
    /* height: 500px; */
    padding-top: 20px;
    margin: 50px;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    /* background: url(../images/kingkaiplace.jpg); */
    background-repeat: no-repeat;
}


.question {
    font-family: 'Encode Sans Condensed', sans-serif, bold;
    font-size: 20px;
}

#answer {
    margin: 150px;
    font-size: 50px;
}

@media screen and (max-width: 1400px) {
    .squad {
        position: sticky;
        background-repeat: no-repeat;
        margin: -275px 50px 0px 0px;
        float: right;
        width: 30%;
    }
    .trivia { 
        font-family: 'Bungee Shade', cursive;
        color: yellow;
        font-size: 90px;
}

@media screen and (max-width: 1350px) {
    #test {
        background: url(../images/dbztitle.png);
        background-repeat: no-repeat;
    }
    .squad {
        position: sticky;
        background-repeat: no-repeat;
        margin: -275px 40px 0px 0px;
        float: right;
        width: 30%;
    }
    .trivia { 
        font-family: 'Bungee Shade', cursive;
        color: yellow;
        font-size: 80px;

}


@media screen and (max-width: 1200px) {
    #test {
        background: url(../images/dbztitle2.png);
        background-repeat: no-repeat;

    }

    .squad {
        position: sticky;
        background-repeat: no-repeat;
        margin: -270px 50px 0px 0px;
        float: right;
        width: 30%;
    }

    .trivia { 
        font-family: 'Bungee Shade', cursive;
        color: yellow;
        font-size: 70px;

}

@media screen and (max-width: 1100px) {
    #test {
        background: url(../images/dbztitle3.png);
        background-repeat: no-repeat;
    }

    .squad {
        position: sticky;
        background-repeat: no-repeat;
        margin: -270px 30px 0px 0px;
        float: right;
        width: 30%;
    }


    .trivia { 
        font-family: 'Bungee Shade', cursive;
        color: yellow;
        font-size: 60px;

}

@media screen and (max-width: 980px) {
    #test {
        background: url(../images/dbztitle4.png);
        background-repeat: no-repeat;
        width: 100%;
    }   

.trivia { 
    font-family: 'Bungee Shade', cursive;
    color: yellow;
    font-size: 50px;

}
.squad {
    position: sticky;
    background-repeat: no-repeat;
    margin: -250px 0px 0px 0px;
    float: right;
    width: 30%;
}

}



@media screen and (max-width: 768px) {
    #test {
        background: url(../images/dbztitle7.png);
        background-repeat: no-repeat;
    }


    .trivia { 
        font-family: 'Bungee Shade', cursive;
        color: yellow;
        margin-top: -90px;
        font-size: 50px;

}

.squad {
    position: sticky;
    background-repeat: no-repeat;
    margin: -140px 130px 0px 0px;
    float: right;
    height: 18%;
    width: 35%;
}

@media screen and (max-width: 640px) {
    #test {
        background: url(../images/dbztitle7.png);
        background-repeat: no-repeat;
    }


    .trivia { 
        font-family: 'Bungee Shade', cursive;
        color: yellow;
        font-size: 60px;
        margin-top: 50px;

}

.squad {
    position: sticky;
    background-repeat: no-repeat;
    margin: -280px 160px 0px 0px;
    float: right;
    width: 40%;
}

@media screen and (max-width: 500px) {
    #test {
        background: url(../images/dbztitle6.png);
        background-repeat: no-repeat;
        margin-top: 5px;
    }


    .trivia { 
        font-family: 'Bungee Shade', cursive;
        color: yellow;
        font-size: 60px;
        margin-top: -100px;

}

.squad {
    position: sticky;
    background-repeat: no-repeat;
    margin: -270px 120px 0px 0px;
    float: right;
    width: 40%;
}
